# Assignment Day2 9th December 2020

# Question 1) Try 5 different functions of the string in Python.

In [1]:
name = "Naveen kumawat"

In [2]:
name.index("v")

2

In [3]:
address = "Bangalore"

In [4]:
address

'Bangalore'

In [5]:
# concatinate the String together

In [6]:
name +" "+ address

'Naveen kumawat Bangalore'

In [8]:
name.split()

['Naveen', 'kumawat']

In [17]:
name.count("e")

2

In [18]:
address.find("l")

5

In [19]:
address.isalpha()

True

# Question 2) Try 5 different functions of the list object in Python

In [20]:
lst = [1,2,3,4,"naveen","bangalore,",1.22,5.82]

In [21]:
lst

[1, 2, 3, 4, 'naveen', 'bangalore,', 1.22, 5.82]

In [22]:
lst[7]

5.82

In [26]:
lst.append("hello")

In [27]:
lst

[1, 2, 3, 4, 'naveen', 'bangalore,', 1.22, 5.82, 10, 'hello']

In [28]:
lst.insert(3,8)

In [29]:
lst

[1, 2, 3, 8, 4, 'naveen', 'bangalore,', 1.22, 5.82, 10, 'hello']

In [30]:
lst.remove(4)

In [31]:
lst

[1, 2, 3, 8, 'naveen', 'bangalore,', 1.22, 5.82, 10, 'hello']

In [34]:
lst.reverse()

In [35]:
lst

['hello', 10, 5.82, 1.22, 'bangalore,', 'naveen', 8, 3, 2, 1]

In [38]:
lst.pop(4)

'naveen'

In [39]:
lst

['hello', 10, 1.22, 'bangalore,', 8, 3, 2, 1]

# Question 3) Experiment with at least 5 default functions of Dictionary

In [47]:
dic = {"place1":"Karnataka","place2":"Kerala","place3":"Rajasthan"}

In [48]:
dic["place2"]

'Kerala'

In [49]:
dic["place1"]

'Karnataka'

In [54]:
ditPerson = {"Name":"Naveen","age":"20","address":"Bangalore"}

In [55]:
ditPerson

{'Name': 'Naveen', 'age': '20', 'address': 'Bangalore'}

In [56]:
ditPerson.get("age")

'20'

In [57]:
ditPerson.pop("address")

'Bangalore'

In [58]:
ditPerson

{'Name': 'Naveen', 'age': '20'}

In [59]:
ditPerson.keys()

dict_keys(['Name', 'age'])

In [60]:
ditPerson

{'Name': 'Naveen', 'age': '20'}

In [65]:
ditPerson.items()

dict_items([('Name', 'Naveen'), ('age', '20')])

In [66]:
keys = {"rakesh","ramesh","ravi"}
value = "name"

In [67]:
name = dict.fromkeys(keys,value)

In [68]:
print(name)

{'rakesh': 'name', 'ravi': 'name', 'ramesh': 'name'}